<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <input type="text" id="title" />
    <p id="json_test"></p>
    <button id="test_btn">버튼</button>

    <script>
        document.getElementById("test_btn").addEventListener("click", () => {
            var title = document.getElementById("title").value;

            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = (e) => {
                let req = e.target;
                if (req.readyState === XMLHttpRequest.DONE) {
                    if (req.status === 200) {
                        document.getElementById("json_test").innerHTML = req.responseText;
                        console.log(req.responseText);
                    }
                }
            }

            xhttp.open("POST", "{% url 'app:json' %}", true);
            xhttp.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhttp.send("{\"title\":\""+title+"\"}");
        });
    </script> 

</body>
</html>