{% load qr_code %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
</head>

<body>
    <div class="d-flex justify-content-center">
    <center>

        <br><br>

        {% if request.GET.user_input %}

        <p class="text-monospace">Confirm URL '{{ request.GET.user_input }}'</p>

        {% else %}

        <p class="text-monospace">Input URL</p>

        {% endif %}

        <br>

        <form action="" method="GET">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Input URL" aria-label="Input URL" aria-describedby="button-addon2" name="user_input">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
                </div>
            </div>
        </form>

        {% if request.GET.user_input %}

            <img src="{% qr_url_from_text request.GET.user_input size='m' version=2 image_format='png' error_correction='L' %}" height="300px" width="300px">
            
            <p class="text-monospace"><a href="{% url 'index' %}">Back</a></p>

        {% endif %}

    </center>
    </div>
</body>
